body {
    font-size: 16px;
}

nav {
    background: peru;
    .header {
        background: white;
        width: 100px;
        height: 10px;
    }
}

.container {
    .row {
        .main-text {
            background: gray;
        }
        .btn-ppal {
            background: blueviolet;
        }
    }
}